*{
	margin:0px;
	padding:0px;
}
body{
	color:#555;
	font-family:Arial,Helvatica, Sans Serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
a{
	text-decoration:none;
}

/*main-header*/
.contact-now a{
	background:#687693;
	padding:10px;
	color:#fff;
	text-decoration:none;
	font-size: 14px;
    line-height: 1;
    margin-left:10px;
    font-weight: 400;
	float:left;
	list-style:none;
	border-radius:15px;
}

#main-header{
	background-color:#ccffcc;
	color:#fff;
	padding-bottom:15px;
	padding-top:15px;
}
#main-header > ul > li {
  color: #687693;
  display: inline-block;
  margin-right: 18px;
  padding-right: 18px;
  border-right: 1px solid #687693;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  float:right;
}

/*--menu--*/
#navbar{
	background-color:#687693;
	color:#fff;
	margin:auto;
	overflow:hidden;
	padding-top:15px;
	position:relative
}
#navbar.image img{
	position:absolute;
}

#navbar ul{
	padding:40px;
	list-style:none;
	margin-left:30%;
	padding-top:0px;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
	
}
/*----banner----*/
#showcase{
	background-image:url(asset/banner/img13.jpg);
	background-position:center-right;
	height:400px;
	padding-bottom:30px;
	margin-top:0px;
	
}

#showcase .box{
	background:#eee;
	text-decoration:none;
	font-size:18px;
	padding:15 20px;
	border:1px solid;
	border-radius: 15px;
	width:25%;
	float:left;
	opacity:0.5;
	margin-left:15px;
	margin-top:20px;
}

#showcase h1{
	font-size:42px;
	line-height:1.6em;
	padding-top:30px;
	text-align:center;
	color: #072366;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
	font-weight: 800;
}
#showcase p{
	font-family: "Muli", sans-serif;
	color: #10285d;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: normal;
	text-align:center;
}
#showcase a{
	background:#687693;
	padding:10px;
	color:#fff;
	border-radius:5px;
	margin-left:40%;
}
/*--------FIRST SECTION---------*/
.container{
	background-color:#ccffcc;
	overflow:hidden;
	margin-bottom:40px;
	padding-bottom:200px;
	padding-top:50px;
}

.coverage{
	margin:auto;
	overflow:hidden;
	width:80%;
	padding:10px;
}

.section-head span{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #09cc7f;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-left:43%;
  padding-top:150px;
}
.section-head h2{
  font-size: 42px;
  color: #072366;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.4;
  text-align:center;
  padding-bottom:100px;
}

.cage{
	margin:10px;
	float:left;
	width:30%;
	box-sizing:border-box;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
	border-bottom:5px solid #555;
	padding-bottom:150px;
}
.item img{
	margin-top:20px;
	margin-bottom: 50px;
	width: 90px;
	height: 90px;
	background: #09cc7f;
	line-height: 90px;
	border-radius: 50%;
	display: inline-block;
	font-size: 40px;
}

.cage h5 > a {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 21px;
  display: block;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-family: "Muli", sans-serif;
  margin-top:20px;
  text-align:center;
}

.cage p {
  margin-bottom: 36px;
  color: #57667e;
  font-size: 16px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-align:center;
  line-height:1.6em;
}

.cage a {
  color: #1c165c;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}


.cage.active::before {
  height: 100%;
}
/*---------SECOND SECTION----------*/
.cover{
	background-color:transparent;
	overflow:hidden;
	margin-bottom:40px;
	padding-bottom:200px;
	padding-top:50px;
}
.about-low-area {
  position: relative;
  padding-bottom:300px;
}
.about-low-area .about-caption p {
  font-size: 16px;
  color: #64676c;
  line-height: 1.6;
  margin-bottom: 43px;
  padding-right: 50px;
}
.about-low-area .about-caption span{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #09cc7f;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 0.05em;
}
.about-low-area .about-caption h2{
  font-size: 42px;
  color: #072366;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.4;
  float:center
}
.about-low-area a{
	background:#687693;
	padding:10px;
	color:#fff;
}
.about-low-area .about-img .about-back-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

/*-----Responsive----*/
@media (max-width: 600px) {
  .section-tittle h2 {
    text-align: left;
    font-size: 27px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
.about-caption p {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-low-area .about-img {
    padding-top: 50px;
  }
}

@media(max-width:550px){
.cage{
	float:none;
	width:100%;
}
}

@media(max-width:600px){
	#main-header,#main-header > ul > li{
		width:100%;
		float:none;
	}
}

@media(max-width:600px){
	#navbar,#navbar.image{
		width:100%;
		float:none;
	}
}

@media(max-width:600px){
#showcase,#showcase h1,#showcase .box{
	width:100%;
	float:none;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-low-area .about-caption p {
    padding-right: 20px;
  }
  .team-area {
    padding-bottom: 150px;
    padding-top: 150px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-low-area .about-caption p {
    padding-right: 0px;
  }
  .about-low-area .about-img {
    padding-top: 50px;
  }
  .about-low-area .about-img .about-back-img {
    position: unset;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-low-area .about-img {
    padding-top: 50px;
  }
  .about-low-area .about-img .about-back-img {
    position: unset;
  }
}

@media (max-width: 575px) {
  .about-low-area .about-img {
    padding-top: 50px;
  }
  .about-low-area .about-img .about-back-img img {
    width: 90%;
  }
  .about-low-area .about-caption p {
    padding-right: 0px;
  }
  .about-low-area .about-img .about-back-img {
    position: unset;
  }
  .about-caption {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-cases-area .single-cases .cases-caption h3 a {
    font-size: 16px;
  }
  .our-cases-area .single-cases .cases-caption .prices p span {
    font-size: 13px;
  }
  .team-area {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

@media (max-width: 575px) {
  .our-cases-area .single-cases .cases-caption .prices p {
    font-size: 11px;
  }
  .our-cases-area .single-cases .cases-caption h3 a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items .company-img img {
    margin-bottom: 20px;
  }
  .single-job-items .job-tittle {
    padding: 14px;
  }
  .single-job-items .job-tittle ul li {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .single-job-items .company-img img {
    margin-bottom: 20px;
  }
  .single-job-items .job-tittle {
    padding: 14px;
  }
  .single-job-items .job-tittle ul li {
    margin-right: 0px;
    margin-bottom: 7px;
  }
  .team-area {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle ul li {
    margin-right: 18px;
  }
  .single-job-items .job-tittle2 {
    padding-top: 25px;
  }
  .team-area {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .team-area .single-team .team-caption h3 a {
    font-size: 18px;
  }
}

/*-----Our Case Area-----*/
.our-cases-area {
  background: #ccffcc;
}
.single-cases{
	float:left;
	margin-top:50px;
	margin:20px;
	width:30%;
	box-sizing:border-box;
	transition: all 0.5s;
	padding-bottom:150px;
}
 .single-cases .cases-img {
  overflow: hidden;
}
 .single-cases .cases-img img {
  width:100%;
  transform: scale(1.05);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
 .single-cases:hover .cases-img img {
  transform: scale(1);
}
 .single-cases .cases-caption {
  padding:20px;
  background: #fff;
}
.single-cases .cases-caption h3 a {
  font-size: 21px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 40px;
  display: block;
  color:#072366
}
 .single-cases .cases-caption .prices p span {
  color: #072366;
  font-size: 16px;
  font-weight: 700;
}
.single-cases .cases-caption h3 a:hover {
  color: #09cc7f;
}
 .single-cases .cases-caption .prices p {
  color: #072366;
  font-size: 12px;
}
meter{
	width:95%;
	border-radius:20px;
	background:#c8ffcc;
}

/*-----Featured-Job-----*/
.single-job-items {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.single-job-items .job-items {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.single-job-items .company-img img {
  overflow: hidden;
  float: left;
  margin-right: 32px;
  z-index: 999;
  width:100%
}
.single-job-items .job-tittle a h4 {
  color: #454d72;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 26px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.single-job-items .job-tittle a h4:hover {
  color: #09cc7f;
}

.single-job-items .job-tittle ul li {
  display: inline-block;
  margin-right: 48px;
  font-size: 15px;
  color: #808080;
  line-height: 1.8;
}
.single-job-items .job-tittle ul li i {
  font-size: 14px;
  color: #bbbbbb;
  margin-right: 10px;
}
.single-job-items .job-tittle ul li:last-child {
  margin-right: 0px;
}
.single-job-items:hover {
  box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
}

/*-----Team Area-----*/
.team-area .single-team .team-img {
  overflow: hidden;
  position: relative;
}
.single-team{
	float:left;
	margin-top:50px;
	margin:20px;
	width:22%;
	box-sizing:border-box;
	transition: all 0.5s;
	padding-bottom:100px;
	background:#fff;
}
.team-area .single-team .team-img img {
  width: 100%;
  transform: scale(1);
  transition: all 0.6s ease-out 0s;
}
.team-area .single-team:hover .team-img img {
  transform: scale(1.06);
}

.team-area .single-team .team-caption {
  background: #fff;
  padding: 25px 0px;
  text-align: center;
}
.team-area .single-team .team-caption h3 {
  margin-bottom: 3px;
}
.team-area .single-team .team-caption h3 a {
  color: #33384e;
  font-weight: 700;
  font-size: 25px;
}
.team-area .single-team .team-caption h3 a:hover {
  color: #09cc7f;
}
.team-area .single-team .team-caption p {
  color: #57667e;
}

.team-social {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  text-align: center;
}
.team-social li {
  display: inline-block;
}
.team-social li a {
  color: #8ba4b1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin-left: 8px;
  display: inline-block;
  background: #fff;
  -webkit-transform: 0.4s;
  transform: 0.4s;
  transform: translateY(60px);
  opacity: 0;
  visibility: hidden;
}
.team-social li a i {
  display: inline-block;
}
.team-social li:nth-child(1) a {
  transition-delay: 0.0s;
}
.team-social li:nth-child(2) a {
  transition-delay: 0.1s;
}
.team-social li:nth-child(3) a {
  transition-delay: 0.3s;
}
.team-area .single-team:hover .team-img .team-social a {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.slick-initialized .slick-slide {
  outline: 0;
}
.wantToWork-area {
  background: #f8fcff;
  padding-bottom:20%;
  margin:auto;
  overflow:hidden;
  width:80%;
  background-attachment:url(asset/banner/img11.jpg);
}
.wantToWork-area .wantToWork-caption h2 {
  color: #09cc7f;
  font-size: 35px;
  font-weight: 700;
  margin: 10px;
  margin-top:8%;
  position:absolute;
}
.wantToWork-area .wantToWork-caption p {
  font-size: 18px;
}
.want a{
	background:#09cc7f;
	padding:30px;
	color:#fff;
	font-size: 18px;
    font-weight: 400;
	margin-left:60%;
	margin-top:7%;
	list-style:none;
	position:absolute;
}